<!DOCTYPE html>
<!-- saved from url=(0066)https://coderthemes.com/moltran/layouts/blue-horizontal/index.html -->
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>@ViewData["Title"] - NXT Monitoramento</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Responsive bootstrap 4 admin template" name="description">
    <meta content="Coderthemes" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- App favicon -->
    <link rel="shortcut icon" href="https://coderthemes.com/moltran/layouts/blue-horizontal/assets/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <!-- Plugins css-->
    <link href="~/css/sweetalert2.min.css" rel="stylesheet" type="text/css">
   
    <!-- App css -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet">
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

</head>

<body data-layout="horizontal">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Navigation Bar-->
        <header id="topnav">
            <!-- Topbar Start -->
            <div class="navbar-custom">
                <div class="container-fluid">
                    <ul class="list-unstyled topnav-menu float-right mb-0">

                        <li class="dropdown notification-list">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle nav-link">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </li>

                        <!--li class="dropdown d-none d-lg-block">
                            <a class="nav-link dropdown-toggle mr-0 waves-effect" data-toggle="dropdown" href="https://coderthemes.com/moltran/layouts/blue-horizontal/index.html#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="~/images/us.jpg" alt="user-image" class="mr-2" height="12"> <span class="align-middle">English <i class="mdi mdi-chevron-down"></i> </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">

                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <img src="~/images/germany.jpg" alt="user-image" class="mr-2" height="12"> <span class="align-middle">German</span>
                                </a>

                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <img src="~/images/italy.jpg" alt="user-image" class="mr-2" height="12"> <span class="align-middle">Italian</span>
                                </a>


                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <img src="~/images/spain.jpg" alt="user-image" class="mr-2" height="12"> <span class="align-middle">Spanish</span>
                                </a>

                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <img src="~/images/russia.jpg" alt="user-image" class="mr-2" height="12"> <span class="align-middle">Russian</span>
                                </a>
                            </div>
                        </li-->

                        <!--li class="dropdown notification-list d-none d-md-inline-block">
                            <a href="https://coderthemes.com/moltran/layouts/blue-horizontal/index.html#" id="btn-fullscreen" class="nav-link waves-effect">
                                <i class="material-icons">crop_free</i>
                            </a>
                        </li-->

                     

                        <li class="dropdown notification-list">
                            <!--a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="https://coderthemes.com/moltran/layouts/blue-horizontal/index.html#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="~/images/avatar-1.jpg" alt="user-image" class="rounded-circle">
                            </a-->
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <!-- item-->
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome !</h6>
                                </div>

                                <!-- item-->
                                <a _href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="mdi mdi-face-profile"></i>
                                    <span>Profile</span>
                                </a>

                                <!-- item-->
                                <ahref="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="mdi mdi-settings"></i>
                                    <span>Settings</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="mdi mdi-lock"></i>
                                    <span>Lock Screen</span>
                                </a>

                                <div class="dropdown-divider"></div>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="mdi mdi-power-settings"></i>
                                    <span>Logout</span>
                                </a>

                            </div>
                        </li>

                        <li class="dropdown notification-list">
                            <a _href="#" class="nav-link right-bar-toggle_ waves-effect_ waves-light_">
                                <i class="material-icons">settings</i>
                            </a>
                        </li>
                    </ul>

                    <!-- LOGO -->
                    <div class="logo-box">
                        <a href="#" class="logo text-center logo-dark">
                            <span class="logo-lg">
                                <img src="~/images/nxt_logo.jpg" alt="" height="16">
                                <!-- <span class="logo-lg-text-dark">Moltran</span> -->
                            </span>
                            <span class="logo-sm">
                                <!-- <span class="logo-lg-text-dark">M</span> -->
                                <img src="~/images/nxt_logo.jpg" alt="" height="25">
                            </span>
                        </a>

                        <a href="#" class="logo text-center logo-light">
                            <span class="logo-lg">
                                <img src="~/images/nxt_logo.jpg" alt="" height="50">
                                <!-- <span class="logo-lg-text-dark">Moltran</span> -->
                            </span>
                            <span class="logo-sm">
                                <!-- <span class="logo-lg-text-dark">M</span> -->
                                <img src="~/images/nxt_logo.jpg" alt="" height="30">
                            </span>
                        </a>
                    </div>
                    <!-- LOGO -->

                    <!--ul class="list-unstyled topnav-menu topnav-menu-left m-0">

                        <li class="d-none d-sm-block">
                            <form class="app-search">
                                <div class="app-search-box">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <div class="input-group-append">
                                            <button class="btn" type="submit">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul-->
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end Topbar -->

            <div class="topbar-menu active">
                <div class="container-fluid in">
                    <div id="navigation" class="active">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu in">

                            <li class="has-submenu active">
                                <a href="#" class="active">
                                    <i class="material-icons">space_dashboard</i>Dashboard
                                    
                                </a>
                            </li>

                            <li class="has-submenu">
                                <a href="#"> <i class="material-icons">perm_media</i> Gestão de Mídias </a>
                                <ul class="submenu">
                                    <li><a href="#">Diários Oficiais</a></li>
                                    <li><a href="#">TVs</a></li>
                                    <li><a href="#">Rádios</a></li>
                                    <li><a href="#">Sites</a></li>
                                </ul>
                            </li>

                            <li class="has-submenu">
                                <a href="#"><i class="material-icons">lock_person</i> Segurança </a>
                                
                            </li>

                            <li class="has-submenu">
                                <a href="#">
                                    <i class="material-icons">settings</i> Configurações
                                </a>
                                
                            </li>

                            <!--li class="has-submenu">
                                <a href="https://coderthemes.com/moltran/layouts/blue-horizontal/index.html#">
                                    <i class="mdi mdi-google-pages"></i> Pages
                                </a>
                                <ul class="submenu megamenu">
                                    <li>
                                        <ul>
                                            <li><a href="https://coderthemes.com/moltran/layouts/blue-horizontal/pages-profile.html">Profile</a></li>
                                            <li><a href="https://coderthemes.com/moltran/layouts/blue-horizontal/pages-timeline.html">Timeline</a></li>
                                            <li><a href="https://coderthemes.com/moltran/layouts/blue-horizontal/pages-invoice.html">Invoice</a></li>
                                            <li><a href="https://coderthemes.com/moltran/layouts/blue-horizontal/pages-email-template.html">Email template</a></li>
                                            <li><a href="https://coderthemes.com/moltran/layouts/blue-horizontal/pages-contact.html">Contact-list</a></li>
                                            <li><a href="https://coderthemes.com/moltran/layouts/blue-horizontal/pages-login.html">Login</a></li>
                                            <li><a href="https://coderthemes.com/moltran/layouts/blue-horizontal/pages-register.html">Register</a></li>
                                            <li><a href="https://coderthemes.com/moltran/layouts/blue-horizontal/pages-recoverpw.html">Recover Password</a></li>

                                        </ul>
                                    </li>
                                    <li>
                                        <ul>
                                            <li><a href="https://coderthemes.com/moltran/layouts/blue-horizontal/pages-lock-screen.html">Lock Screen</a></li>
                                            <li><a href="https://coderthemes.com/moltran/layouts/blue-horizontal/pages-blank.html">Blank Page</a></li>
                                            <li><a href="https://coderthemes.com/moltran/layouts/blue-horizontal/pages-maintenance.html">Maintenance</a></li>
                                            <li><a href="https://coderthemes.com/moltran/layouts/blue-horizontal/pages-coming-soon.html">Coming-soon</a></li>
                                            <li><a href="https://coderthemes.com/moltran/layouts/blue-horizontal/pages-404.html">404 Error</a></li>
                                            <li><a href="https://coderthemes.com/moltran/layouts/blue-horizontal/pages-404_alt.html">404 alt</a></li>
                                            <li><a href="https://coderthemes.com/moltran/layouts/blue-horizontal/pages-500.html">500 Error</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li-->

                            <li class="has-submenu last-elements">
                                <a href="#"> <i class="material-icons">help</i> Suporte </a>
                                
                                
                            </li>

                        </ul>
                        <!-- End navigation menu -->

                        <div class="clearfix"></div>
                    </div>
                    <!-- end #navigation -->
                </div>
                <!-- end container -->
            </div>
            <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="container body-content">
                @RenderBody()
                <hr />

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                2022 - NXT Monitoramento
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>
        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->
    <!-- Right Sidebar -->
    <div class="right-bar">
        <div class="rightbar-title">
            <a href="javascript:void(0);" class="right-bar-toggle float-right">
                <i class="mdi mdi-close"></i>
                <span class="material-icons">close</span>
            </a>
            <h4 class="font-17 m-0 text-white">Theme Customizer</h4>
        </div>
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 600px;">
            <div class="slimscroll-menu" style="overflow: hidden; width: auto; height: 600px;">

                <div class="p-4">
                    <div class="alert alert-warning" role="alert">
                        <strong>Customize </strong> the overall color scheme, layout, etc.
                    </div>
                    <div class="mb-2">
                        <img src="~/images/light.png" class="img-fluid img-thumbnail" alt="">
                    </div>
                    <div class="custom-control custom-switch mb-3">
                        <input type="checkbox" class="custom-control-input theme-choice" id="light-mode-switch" checked="">
                        <label class="custom-control-label" for="light-mode-switch">Light Mode</label>
                    </div>

                    <div class="mb-2">
                        <img src="~/images/dark.png" class="img-fluid img-thumbnail" alt="">
                    </div>
                    <div class="custom-control custom-switch mb-3">
                        <input type="checkbox" class="custom-control-input theme-choice" id="dark-mode-switch" data-bsstyle="assets/css/bootstrap-dark.min.css" data-appstyle="assets/css/app-dark.min.css">
                        <label class="custom-control-label" for="dark-mode-switch">Dark Mode</label>
                    </div>

                    <div class="mb-2">
                        <img src="~/images/rtl.png" class="img-fluid img-thumbnail" alt="">
                    </div>
                    <div class="custom-control custom-switch mb-5">
                        <input type="checkbox" class="custom-control-input theme-choice" id="rtl-mode-switch" data-appstyle="assets/css/app-rtl.min.css">
                        <label class="custom-control-label" for="rtl-mode-switch">RTL Mode</label>
                    </div>

                    <a href="https://bit.ly/2QMLoUn" class="btn btn-danger btn-block mt-3" target="_blank"><i class="mdi mdi-download mr-1"></i> Download Now</a>
                </div>
            </div><div class="slimScrollBar" style="background: rgb(158, 165, 171); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 430.622px;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
        </div> <!-- end slimscroll-menu-->
    </div>

    <!-- Vendor js -->
    <script src="~/js/vendor.min.js"></script>

    <script src="~/js/moment.min.js"></script>
    <script src="~/js/jquery.scrollTo.min.js"></script>
    <script src="~/js/sweetalert2.min.js"></script>

    <!-- Chat app -->
    <script src="~/js/jquery.chat.js"></script>

    <!-- Todo app -->
    <script src="~/js/jquery.todo.js"></script>

    <!-- flot chart -->
    <script src="~/js/jquery.flot.js"></script>
    <script src="~/js/jquery.flot.time.js"></script>
    <script src="~/js/jquery.flot.tooltip.min.js"></script>
    <script src="~/js/jquery.flot.resize.js"></script>
    <script src="~/js/jquery.flot.pie.js"></script>
    <script src="~/js/jquery.flot.selection.js"></script>
    <script src="~/js/jquery.flot.stack.js"></script>
    <script src="~/js/jquery.flot.crosshair.js"></script>
    <script src="~/js/site.js"></script>

    <!-- Dashboard init JS -->
    <script src="~/js/dashboard.init.js"></script><div class="flotTip" style="display: none; position: absolute;"></div>

    <!-- App js -->
    <script src="~/js/app.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>

</html>